.App {
  text-align: center;

}

.App-logo {
  width: 200px;
  height: 100px;
  top: 31px;
  left: 26px;
  padding: 5px;
  gap: 0px;
  opacity: 0px;
  pointer-events: none;
}

.header {
  background-image: url('../src/assets/Learn.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  color: aliceblue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-image: url('assets/logo512.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-blend-mode: overlay;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  display: block;
  justify-content: center;
  background: #4f4949;
  position: absolute;
  width: 100%;
  bottom: 0%;

}

.footer>blockquote {
  color: white;
}